@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Collingar";
    src: url("/public/assets/fonts/Collingar.otf") format("opentype");
  }
  @font-face {
    font-family: "Edith-Regular";
    src: url("/public/assets/fonts/Edith-Regular.ttf") format("opentype");
  }
}
